{% extends 'base.html.twig' %}

{% block title %}Symfony DDD base config{% endblock %}

{% block body %}
<style>
    body{
        text-align: center;
        padding-top: 5%;
        background-color: #858585;
    }
    img{
        height: 410px;
        width: 200px;
    }
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <img src="assets/images/logo.png" alt="...."/>
    <h1>Symfony DDD base config ✅</h1>
</div>
{% endblock %}
